<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385086121177-7k3fe7fkb4gbiu2vrip66nervvb2qp2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385086121177-7k3fe7fkb4gbiu2vrip66nervvb2qp2l</string>
	<key>API_KEY</key>
	<string>AIzaSyBz-pT-KnXa6z5lzJUumi8HGY4UWGTFKs8</string>
	<key>GCM_SENDER_ID</key>
	<string>385086121177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.employeeManagement</string>
	<key>PROJECT_ID</key>
	<string>employee-leave-managemen-44d3a</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-leave-managemen-44d3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385086121177:ios:7ebadf5d10d25a974a0ac8</string>
</dict>
</plist>